{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="post" action=".">
      {% csrf_token %}

        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="id_username" class="sr-only">Email address</label>
        <input class="form-control" placeholder="Username" required autofocus id="id_username" maxlength="254" name="username" type="text" />
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="" />
      </form>

    </div> <!-- /container -->

    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
	<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>

{% endblock %}

